.box{
    height:500px;
    width:700px;
    border:2px solid black;
/* background-color: lightsalmon,lightseagreen;* */
background: linear-gradient(lightsalmon,lightseagreen,lightpink,lightblue)
;
background: linear-gradient(to top left,
lightsalmon,
lightseagreen,
lightpink,
lightblue
);


background: linear-gradient(
90deg,
lightsalmon 50%,
lightseagreen 50%,
lightpink,
lightblue
);
background: linear-gradient(to top right,
lightsalmon,
lightseagreen,
lightpink,
lightblue
);
background: radial-gradient(circle at top, red 50%,blue 20%,green);
/* degree will not work here */
/* background: radial-gradient(rgba(3,6,8,0.1),rgba(3,8,9,0.8888)); */
/* background:radial-gradient(circle at bottom, #123abc 30%,#820ccc 20%,#32d334 30%); */
background: conic-gradient(red,green,lightpink,lightseagreen);
background: repeating-linear-gradient(red 10%,blue 20%,green 30%);
}